sqlalchemy==1.3.19
pytest==6.1.1
pytest-bdd==4.0.1
pytest-cloud==5.0.2
pytest-cov==2.10.1
pytest-factoryboy==2.0.3
pytest-instafail==0.4.2
pytest-pep8==1.0.6
pytest-xdist==2.1.0
pytest-services==2.2.0
pytest-splinter==3.2.0
six==1.15.0
pipenv==2020.8.13
pipsi==0.9
