sqlalchemy==1.4.11
pytest==6.2.3
pytest-bdd==4.0.2
pytest-cloud==5.0.3
pytest-cov==2.10.1
pytest-factoryboy==2.1.0
pytest-instafail==0.4.2
pytest-pep8==1.0.6
pytest-xdist==2.2.1
pytest-services==2.2.1
pytest-splinter==3.3.1
six==1.15.0
pipenv==2022.3.23
pipsi==0.9
